* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: goldenrod;
  font-family: monospace;
}
#page-layout {
  display: flex;
  height: 100%;
  width: 100%;
}
/* sidebar */
#questionnaire-container {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}
.question-container {
  background-color: #0b0b0beb;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0px 1px 10px 0px #d5d5d582, inset -1px 1px 1px 2px #FFC107;
}
.question-title {
  text-align: center;
  font-size: calc(12px + .2vh);
  padding: 5px 7px;
}
.radio-button-cluster {
  display: inline-block;
  padding: 5px;
  font-size: calc(12px + .2vh);
}
.radio-button-row {
  color: goldenrod;
  font-family: monospace;
  display: flex;
}
/* page content */
#content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#content-container-column {
  text-align: center;
}
#submit-button {
  padding: 20px;
  margin-top: 5%;
  border: 5px solid goldenrod;
  border-radius: 20px;
  color: goldenrod;
  background-color: black;
}
#submit-button:hover {
  cursor: pointer;
  background-color: rgb(255 255 255 / 10%);
  transition: .4s;
  box-shadow: 0 0 7px white;
}
#submit-button:active {
  box-shadow: 0 0 0 3px white;
}
#submit-button:focus {
  outline-style: none;
}



#ruby, #react, #html {
  display: none;
}

