* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: goldenrod;
  font-family: monospace;
}
#page-layout {
  display: flex;
  height: 100%;
  width: 100%;
}
/* sidebar */
#questionnaire-container {
  width: 50%;
  height: 100%;
}
#questionnaire {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 350px;
  justify-content: center;
}
.question-container {
  max-height: 18vh;
  background-color: #0b0b0beb;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 1px 10px 0px #d5d5d582, inset -1px 1px 1px 2px #FFC107;
  overflow: hidden;
  padding: 20px;
}
input {
  margin: 0px 10px;
}
.question-title {
  text-align: center;
  font-size: calc(12px);
}
.radio-button-cluster {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: calc(8px + .2vh);
  overflow: hidden;
}
.radio-button-row {
  color: goldenrod;
  font-family: monospace;
  display: flex;
}
/* page content */
#content-container {
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 15%;
}
#content-container img {
  width: 50%;
  height: 50%;
}
#content-container-column {
  text-align: center;
}
#submit-button {
  padding: 20px;
  margin-top: 5%;
  border: 5px solid goldenrod;
  border-radius: 20px;
  color: goldenrod;
  background-color: black;
}
#submit-button:hover {
  cursor: pointer;
  background-color: rgb(255 255 255 / 10%);
  transition: .4s;
  box-shadow: 0 0 7px white;
}
#submit-button:active {
  box-shadow: 0 0 0 3px white;
}
#submit-button:focus {
  outline-style: none;
}
#start-over-button {
  display: none;
  padding: 20px;
  margin-top: 5%;
  border: 5px solid goldenrod;
  border-radius: 20px;
  color: goldenrod;
  background-color: black;
}
#start-over-button:hover {
  cursor: pointer;
  background-color: rgb(255 255 255 / 10%);
  transition: .4s;
  box-shadow: 0 0 7px white;
}
#start-over-button:active {
  box-shadow: 0 0 0 3px white;
}
#start-over-button:focus {
  outline-style: none;
}
#ruby, #react, #html {
  display: none;
}
#base-value {
  display: none;
}
#html-value {
  display: none;
}
#reveal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#button-container {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  #page-layout {
    flex-direction: column;
  }
  #questionnaire-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #greet-message {
    font-size: 12px;
  }
  .question-title {
    font-size: 12px;
  }
  #content-container img {
    width: 100%;
    height: auto;
  }
  .question-container {
    padding: 12px;
  }
  #question-container {
    box-shadow: 0px 1px 10px 0px #d5d5d582, inset 0px 1px 1px 2px #FFC107;
  }
}